.tukit-tooltip-pre {
    .pf-c-tooltip__content {
        white-space: pre-wrap;
    }
}
.tukit-update-details-text {
    white-space: pre-wrap;
}
.pf-c-button.tukit-update-details-button {
    color: var(--pf-global--info-color--100);
}
