name: Pull Request
on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened
jobs:
  checks:
    runs-on: ubuntu-latest
    container:
      image: registry.opensuse.org/opensuse/bci/nodejs:latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: npm
      - name: install deps
        run: npm ci && zypper install -y cockpit-devel make gettext-tools
      - name: add cockpit-tukit as a safe safe directory
        run: git config --global --add safe.directory /__w/cockpit-tukit/cockpit-tukit
      - name: build
        run: make && npm run build
      - name: lint & format check
        run: npm run ci
      - name: typecheck
        run: npm run typecheck
      - name: pot file changed but not commited
        run: |
          touch org.cockpit-project.tukit.metainfo.xml src/index.tsx
          make po/tukit.pot
          git --no-pager diff po/tukit.pot
          [ "$(git diff --numstat po/tukit.pot | cut -f1)" -gt 2 ] || \
          [ "$(git diff --numstat po/tukit.pot | cut -f2)" -gt 2 ] \
            && echo "po/tukit.pot has changed. Failing test" \
            && exit 1
          echo "No changes other than expected timestamps"
          exit 0
